
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailExample</title>
</head>
<body>
    <div> 
        <h1 class="alert alert-danger"> Čau, máš nový nevyplnený feedback !!! </h1>

        <h2> Navštív našu stránku <a href="http://www.siemens.com/entry/sk/sk/"> SIEMENS-u </a> pre jeho vyplnenie! </h2>


    </div>
</body>
</html>
