
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <h2> Používateľ @ViewBag.ID Vám zaslal správu: </h2>
        <i> <h4>@ViewBag.message</h4> </i>
    </div>
</body>
</html>
