
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
        <h1> Používateľ @ViewBag.ID ťa žiada o rolu: </h1>
        <i> @ViewBag.message </i>
    </div>
</body>
</html>
