<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web.webPages.razor>
    <pages>
      <namespaces>
        <add namespace="Postal" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="istwan.lakatos@gmail.com">
        <network host="smtp.gmail.com" port="587" defaultCredentials="false" userName="istwan.lakatos@gmail.com" password="Istwan00" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>